html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: #072339;
  overflow-x: hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
}

body > h1 {
	position: absolute;
	color: #072339;
	user-select: none;
}

#intro {
  position: absolute;
  top: 40%;
  width: 100%;
  margin: -270px 0;
  height: 600px;
}

#intro a {
	color: #56AAEB;
	text-decoration: none;
}
#intro a:hover {
	color: #9AE0FF;
}

#intro > div {
	position: relative;
	height: 600px;
	margin: -300px 0;
	top: 50%;
	font-size: 1em;
	-moz-transform-style: preserve-3d;
	-webkit-perspective: 250;
	-moz-perspective: 250;
	-ms-perspective: 250;
	-o-perspective: 250;
	perspective: 250;
}

#intro.play > div {
	-webkit-animation: shake .61s 5, move 2.4s 1;
	-moz-animation: shake .61s 5, move 2.4s 1;
	-ms-animation: shake .61s 5, move 2.4s 1;
	-o-animation: shake .61s 5, move 2.4s 1;
}

@-webkit-keyframes move {
	0%, 25% {
		height: 100px;
		margin: -50px 0;
	}
	26%, 50% {
		height: 104px;
		margin: -52px 0;
	}
	51%, 75% {
		height: 140px;
		margin: -70px 0;
	}
	76%, 100% {
		height: 206px;
		margin: -103px 0;
	}
}

@-moz-keyframes move {
	0%, 25% {
		height: 100px;
		margin: -50px 0;
	}
	26%, 50% {
		height: 104px;
		margin: -52px 0;
	}
	51%, 75% {
		height: 140px;
		margin: -70px 0;
	}
	76%, 100% {
		height: 206px;
		margin: -103px 0;
	}}

@-ms-keyframes move {
	0%, 25% {
		height: 100px;
		margin: -50px 0;
	}
	26%, 50% {
		height: 104px;
		margin: -52px 0;
	}
	51%, 75% {
		height: 140px;
		margin: -70px 0;
	}
	76%, 100% {
		height: 206px;
		margin: -103px 0;
	}
}

@-o-keyframes move {
	0%, 25% {
		height: 100px;
		margin: -50px 0;
	}
	26%, 50% {
		height: 104px;
		margin: -52px 0;
	}
	51%, 75% {
		height: 140px;
		margin: -70px 0;
	}
	76%, 100% {
		height: 206px;
		margin: -103px 0;
	}
}

@-webkit-keyframes shake {
	0%, 10%, 100% {
		-webkit-transform: translate3d(0,0,0);
	}
	2%, 6% {
		-webkit-transform: translate3d(0,3px,0);
	}
	4% {
		-webkit-transform: translate3d(2px,0,0);
	}
}

@-moz-keyframes shake {
	0%, 10%, 100% {
		-moz-transform: translate3d(0,0,0);
	}
	2%, 6% {
		-moz-transform: translate3d(0,3px,0);
	}
	4% {
		-moz-transform: translate3d(2px,0,0);
	}
}

@-ms-keyframes shake {
	0%, 10%, 100% {
		-ms-transform: translate3d(0,0,0);
	}
	2%, 6% {
		-ms-transform: translate3d(0,3px,0);
	}
	4% {
		-ms-transform: translate3d(2px,0,0);
	}
}

@-o-keyframes shake {
	0%, 10%, 100% {
		-o-transform: translate3d(0,0,0);
	}
	2%, 6% {
		-o-transform: translate3d(0,3px,0);
	}
	4% {
		-o-transform: translate3d(2px,0,0);
	}
}

#intro > div > * {
	text-align: center;
	font-family: 'Doppio One';
	color: #56AAEB;
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	width: 500px;
	margin: 0 -250px;
	-webkit-perspective: 250;
	-moz-perspective: 250;
	-ms-perspective: 250;
	-o-perspective: 250;
	perspective: 250;
	visibility: hidden;
}

#intro > div > .play {
	visibility: visible;
	-webkit-animation: smash .6s 1 ease-in;
	-moz-animation: smash .6s 1 ease-in;
	-ms-animation: smash .6s 1 ease-in;
	-o-animation: smash .6s 1 ease-in;
	animation: smash .6s 1 ease-in;
}

@-webkit-keyframes smash {
	0% {
		-webkit-transform: translateY(-2000px);
	}
	100% {
		-webkit-transform: translateY(0px);
	}
}
@-moz-keyframes smash {
	0% {
		-moz-transform: translateY(-2000px);
	}
	100% {
		-moz-transform: translateY(0px);
	}
}
@-o-keyframes smash {
	0% {
		-o-transform: translateY(-2000px);
	}
	100% {
		-o-transform: translateY(0px);
	}
}
@-ms-keyframes smash {
	0% {
		-ms-transform: translateY(-2000px);
	}
	100% {
		-ms-transform: translateY(0px);
	}
}
@keyframes smash {
	0% {
		transform: translateY(-2000px);
	}
	100% {
		transform: translateY(0px);
	}
}

#intro .date {
	bottom: 0px;
	font-size: 2.4em;
}
#intro .date span {
	display: block;
	-webkit-transform: rotateY(30deg) translateX(30px);
	-moz-transform: rotateY(30deg) translateX(30px);
	-ms-transform: rotateY(30deg) translateX(30px);
	-o-transform: rotateY(30deg) translateX(30px);
	transform: rotateY(30deg) translateX(30px);
}

#intro .singapore {
	bottom: 30px;
	font-size: 4em;
}
#intro .singapore span {
	display: block;
	-webkit-transform: rotateY(-28deg) translateX(-20px);
	-moz-transform: rotateY(-28deg) translateX(-20px);
	-ms-transform: rotateY(-28deg) translateX(-20px);
	-o-transform: rotateY(-28deg) translateX(-20px);
	transform: rotateY(-28deg) translateX(-20px);
}

#intro .venue {
	bottom: 90px;
	font-size: 2.1em;
}
#intro .venue a {
	display: block;
	-webkit-transform: rotateY(29deg) translateX(10px);
	-moz-transform: rotateY(29deg) translateX(10px);
	-ms-transform: rotateY(29deg) translateX(10px);
	-o-transform: rotateY(29deg) translateX(10px);
	transform: rotateY(29deg) translateX(10px);
}

#intro .js {
	bottom: 130px;
	height: 300px;
	width: 300px;
	margin: 0 -150px;
}

#intro .logo {
	display: block;
	height: 300px;
	width: 300px;
	-webkit-transform: rotateY(-2deg) translateX(-10px);
	-moz-transform: rotateY(-2deg) translateX(-10px);
	-ms-transform: rotateY(-2deg) translateX(-10px);
	-o-transform: rotateY(-2deg) translateX(-10px);
	transform: rotateY(-2deg) translateX(-10px);
}

#body {
	position: absolute;
	top: 61%;
	width: 100%;
	margin-top: 200px;
	overflow-x: hidden;
}
#body p {
	position: relative;
	bottom: 0;
	font-size: 0.85em;
	width: 400px;
	margin: 0 auto 20px;
	padding-left: 30px;
	color: #fff;
}
#body a {
	color: #fff;
}
#body a:hover {
	color: #fff;
}

#body .button {
    background: #256BC4;
    color: #fff;
    font-size: 15px;
    padding: 12px;
    display: block;
    margin: 50px auto 0;
    width: 346px;
    text-decoration: none;
    position: relative;
    text-align: center;
}

#body .button:hover {
	color: #fff;
    /*-webkit-animation: pullin .4s linear infinite;*/
}

@-webkit-keyframes pullin {
	0% {
		box-shadow: 0 0 0 5px #9AE0FF, 0 0 0 10px #256BC4, 0 0 0 15px rgba(154, 224, 255, .7), 0 0 0 15px rgba(37, 107, 196, .4), 0 0 0 15px rgba(154, 224, 255, .15);
	}
	50% {
		box-shadow: 0 0 0 0px #9AE0FF, 0 0 0 5px #256BC4, 0 0 0 10px rgba(154, 224, 255, .7), 0 0 0 15px rgba(37, 107, 196, .4), 0 0 0 15px rgba(154, 224, 255, .15);
	}
	100% {
		box-shadow: 0 0 0 0px #9AE0FF, 0 0 0 0px #256BC4, 0 0 0 5px rgba(154, 224, 255, .7), 0 0 0 10px rgba(37, 107, 196, .4), 0 0 0 15px rgba(154, 224, 255, .15);
	} 
}

#body .button span {
    position: absolute;
    right: 16px;
    top: 13px;
    color: #9AE0FF;
    font-size: .9em;
}

#body .button + span {
	display: block;
	text-align: center;
	color: #224e6f;
	font-size: .8em;
	padding: 3px 0;
}

#body section, footer {
	padding: 130px 0 0;
	position: relative;
	-webkit-perspective: 250;
	-moz-perspective: 250;
	-ms-perspective: 250;
	-o-perspective: 250;
	perspective: 250px;
}

#body h2 {
    font-family: 'Open Sans';
	color: #56AAEB;
	text-align: center;
	font-size: 2.5em;
	margin: 0 0 0.8em;
	font-weight: 200;
}

#body h3 {
	color: #56AAEB;
	font-size: 1.2em;
	font-family: 'Doppio One';
	margin: 40px auto 15px;
	width: 400px;
	text-transform: uppercase;
	padding-left: 30px;
	letter-spacing: -1px;
}


#body .date a {
    color: #c7950a;
	text-decoration: none;
}

#body .date a:hover {
    color: #fff;
}



#info p {
	color: #000;
	text-align: center;
	padding: 0;
}

#info .desc {
	font-family: 'Doppio One';
	font-size: 1.6em;
	text-transform: uppercase;
}

#info:before {
	content: "";
	position: absolute;
	left: -100px;
	top: 60px;
	bottom: -90px;
	right: -100px;
	-webkit-transform: rotateY(-1.5deg) translateZ(-10px);
	-moz-transform: rotateY(-1.5deg) translateZ(-10px);
	-o-transform: rotateY(-1.5deg) translateZ(-10px);
	-ms-transform: rotateY(-1.5deg) translateZ(-10px);
	transform: rotateY(-1.5deg) translateZ(-10px);
	background: #56AAEB;
	box-shadow: 0px 3px 5px rgba(0,0,0,.2);
	z-index: -10;
}


#about:before {
	content: "";
	position: absolute;
	overflow: hidden;
	left: -220px;
	height: 260px;
	background: url(../img/jsconfmanila.jpg) no-repeat 100% 50%;
	background-size: 100%;
	top: -200px;
	right: -300px;
	transform: rotateY(2deg) rotateZ(-4deg) skew(-5deg);
	z-index: -10;
	border-bottom: 5px solid #56AAEB;
	box-shadow: 0px 3px 5px rgba(0,0,0,.2);
}


#subscribeForm {
	width: 330px;
	height: 40px;
	margin: 40px auto 10px;
	display: block;
	position: relative;
	z-index: 10;
}

#subscribeForm .input input {
  position: absolute;
  left: 0;
  font-size: 20px;
  line-height: 40px;
  padding: 0 15px;
  font-family: 'Open Sans';
  border: 0;
  outline: 0;
  width: 210px;
  height: 40px;
  border-radius: 0;
}
#subscribeForm .input input[type='submit'] {
	left: 240px;
	width: 100px;
	background: #256BC4;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#subscribeForm.load .input input[type='submit'] {
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, rgba(0, 0, 0, .1)),color-stop(.25, transparent), color-stop(.5, transparent),color-stop(.5, rgba(0, 0, 0, .1)),color-stop(.75, rgba(0, 0, 0, .1)),color-stop(.75, transparent), to(transparent)	   );
	background-image: -webkit-linear-gradient(-45deg,rgba(0, 0, 0, .1) 25%,transparent 25%,transparent 50%,rgba(0, 0, 0, .1) 50%,rgba(0, 0, 0, .1) 75%,transparent 75%,transparent	   );
	background-image: -moz-linear-gradient(-45deg,rgba(0, 0, 0, .1) 25%,transparent 25%,transparent 50%,rgba(0, 0, 0, .1) 50%,rgba(0, 0, 0, .1) 75%,transparent 75%,transparent	   );
	background-image: -ms-linear-gradient(-45deg,rgba(0, 0, 0, .1) 25%,transparent 25%,transparent 50%,rgba(0, 0, 0, .1) 50%,rgba(0, 0, 0, .1) 75%,transparent 75%,transparent	   );
	background-image: -o-linear-gradient(-45deg,rgba(0, 0, 0, .1) 25%,transparent 25%,transparent 50%,rgba(0, 0, 0, .1) 50%,rgba(0, 0, 0, .1) 75%,transparent 75%,transparent	   );
	-webkit-background-size: 50px 50px;
	-moz-background-size:    50px 50px;
	-ms-background-size:    50px 50px;
	-o-background-size:    50px 50px;
	background-size:         50px 50px;
	-webkit-animation: loading 2s infinite linear;
	-moz-animation: loading 2s infinite linear;
	-ms-animation: loading 2s infinite linear;
	-o-animation: loading 2s infinite linear;
	animation: loading 2s infinite linear;
}

#subscribeForm .msg {
	position: absolute;
	top: 46px;
	width: 340px;
	text-align: center;
	color: #fff;
	font-size: 1em;
}
#subscribeForm .msg span {
	display: block;
}

#speakers {
    margin-bottom: 300px;
}

#speakers .speaker {
    margin: 0 auto;
    width: 480px;
    clear: both;
}

#speakers .speaker > a {
    float: left;
	height: 100px;
    width: 100px;
	margin-left: 8px;
	-webkit-perspective: 250;
	-moz-perspective: 250;
	-ms-perspective: 250;
	-o-perspective: 250;
  	perspective: 250;
}

#speakers .speaker img {
    height: 100px;
    width: 100px;
   	-webkit-transform: rotateY(14deg);
	-moz-transform: rotateY(14deg);
 	-o-transform: rotateY(14deg);
 	-ms-transform: rotateY(14deg);
 	transform: rotateY(14deg);
 	box-shadow: -1px 0 3px rgba(0,0,0,.2);
}

#speakers .speaker:nth-child(2n) img {
   	-webkit-transform: rotateY(-6deg);
	-moz-transform: rotateY(-6deg);
 	-o-transform: rotateY(-6deg);
 	-ms-transform: rotateY(-6deg);
 	transform: rotateY(-6deg);
   	box-shadow: 1px 0 3px rgba(0,0,0,.2);
}

#speakers .speaker:nth-child(3n) img {
   	-webkit-transform: rotateY(-12deg);
	-moz-transform: rotateY(-12deg);
 	-o-transform: rotateY(-12deg);
 	-ms-transform: rotateY(-12deg);
 	transform: rotateY(-12deg);
   	box-shadow: 1px 0 3px rgba(0,0,0,.2);
}

#speakers .speaker:nth-child(4n) img {
   	-webkit-transform: rotateY(9deg);
	-moz-transform: rotateY(9deg);
 	-o-transform: rotateY(9deg);
 	-ms-transform: rotateY(9deg);
 	transform: rotateY(9deg);
}

#speakers .speaker h3, #speakers .speaker p {
    margin-left: 100px;
    width: 330px;
}

#speakers .speaker h3 a {
    font-size: .7em;
    color: #9AE0FF;
    font-family: 'Open Sans';
    text-transform: none;
    text-decoration: none;
    margin-left: 5px;
}

#speakers .speaker h3 a:hover {
    color: #fff;
}


#sponsors h2 {
	color: #000;
}

#sponsors h3 {
	color: #000;
	display: block;
}

#sponsors p {
	color: #000;
}

#sponsors p a {
	color: #000;
}

#sponsors p a:hover {
	color: #000;
}

#sponsors:before {
	content: "";
	position: absolute;
	left: -100px;
	top: 70px;
	bottom: -70px;
	right: -100px;
	-webkit-transform: rotateY(.8deg) translateZ(-10px);
	-moz-transform: rotateY(.8deg) translateZ(-10px);
	-o-transform: rotateY(.8deg) translateZ(-10px);
	-ms-transform: rotateY(.8deg) translateZ(-10px);
	transform: rotateY(.8deg) translateZ(-10px);
	z-index: -10;
	background: #56AAEB;
	box-shadow: 0px 3px 5px rgba(0,0,0,.2);
}

#sponsors .meteor {
	font-size: 2.8em;
	color: #000;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 900;
	letter-spacing: -1px;
	text-decoration: none;
}
#sponsors .meteor:hover {
	color: #000;
}


#body footer {
    background: url(../img/skyline_mobile.jpg) 52% 100% no-repeat;
}

#body footer p {
    width: 480px;
	text-align: center;
    padding: 0;
    color: #224e6f;
}

#body footer a {
	color: #224e6f;
}



nav {
	background: #56AAEB;
	position: fixed;
	width: 100%;
	padding: 12px 30px;
	box-shadow: 0px 3px 5px rgba(0,0,0,.2);
	font-family: 'Doppio One';
	-webkit-transform: translate3d(0, -200px,0);
	-moz-transform: translate3d(0, -200px,0);
	-o-transform: translate3d(0, -200px,0);
	-ms-transform: translate3d(0, -200px,0);
	transform: translate3d(0, -200px,0);
}

nav.play {
	-webkit-animation: falling 1s ease-in 1;
	-webkit-transform: rotate(-2deg) translate3d(-6px, -10px,0);
	-moz-animation: falling 1s ease-in 1;
	-moz-transform: rotate(-2deg) translate3d(-6px, -10px,0);
	-o-animation: falling 1s ease-in 1;
	-o-transform: rotate(-2deg) translate3d(-6px, -10px,0);
	-ms-animation: falling 1s ease-in 1;
	-ms-transform: rotate(-2deg) translate3d(-6px, -10px,0);
	animation: falling 1s ease-in 1;
	transform: rotate(-2deg) translate3d(-6px, -10px,0);
}

@-webkit-keyframes falling {
  0% {
    -webkit-transform: translate3d(0, -700px,0);
  }
  60% {
  	-webkit-transform: rotate(-1deg) translate3d(0, -30px,0);
  }
  68% {
    -webkit-transform: rotate(-2deg) translate3d(-6px, -20px,0);
  }
  88% {
    -webkit-transform: rotate(-1.3deg) translate3d(-4px, -36px,0);
  }
  100% {
  	-webkit-transform: rotate(-2deg) translate3d(-6px, -20px,0);
  }
}
@-moz-keyframes falling {
  0% {
    -moz-transform: translate3d(0, -700px,0);
  }
  60% {
  	-moz-transform: rotate(-1deg) translate3d(0, -30px,0);
  }
  68% {
    -moz-transform: rotate(-2deg) translate3d(-6px, -20px,0);
  }
  88% {
    -moz-transform: rotate(-1.3deg) translate3d(-4px, -36px,0);
  }
  100% {
  	-moz-transform: rotate(-2deg) translate3d(-6px, -20px,0);
  }
}
@-o-keyframes falling {
  0% {
    -o-transform: translate3d(0, -700px,0);
  }
  60% {
  	-o-transform: rotate(-1deg) translate3d(0, -30px,0);
  }
  68% {
    -o-transform: rotate(-2deg) translate3d(-6px, -20px,0);
  }
  88% {
    -o-transform: rotate(-1.3deg) translate3d(-4px, -36px,0);
  }
  100% {
  	-o-transform: rotate(-2deg) translate3d(-6px, -20px,0);
  }
}
@-ms-keyframes falling {
  0% {
    -ms-transform: translate3d(0, -700px,0);
  }
  60% {
  	-ms-transform: rotate(-1deg) translate3d(0, -30px,0);
  }
  68% {
    -ms-transform: rotate(-2deg) translate3d(-6px, -20px,0);
  }
  88% {
    -ms-transform: rotate(-1.3deg) translate3d(-4px, -36px,0);
  }
  100% {
  	-ms-transform: rotate(-2deg) translate3d(-6px, -20px,0);
  }
}
@keyframes falling {
  0% {
    transform: translate3d(0, -700px,0);
  }
  60% {
  	transform: rotate(-1deg) translate3d(0, -30px,0);
  }
  68% {
    transform: rotate(-2deg) translate3d(-6px, -20px,0);
  }
  88% {
    transform: rotate(-1.3deg) translate3d(-4px, -36px,0);
  }
  100% {
  	transform: rotate(-2deg) translate3d(-6px, -20px,0);
  }
}


nav a {
	color: #021C7F;
	text-decoration: none;
	text-transform: uppercase;
}
nav a:hover {
	color: #fff;
}

nav .js {
	width: 110%;
	height: 120px;
	margin: -50px 0 12px -25px;
}

nav .logo {
	display: block;
	width: 100%;
	height: 120px;
}

nav .logo svg {
	width: 120px;
}



@-moz-keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}
@-ms-keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}
@keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}
